.List {
    font-size: 14px;
    height: calc(100vh - 140px);
    overflow: auto;

    &__item {
        padding: 8px 10px;
        border-bottom: 1px solid #eee;
    }

    &__name {
        font-weight: bold;    
    }

    &__screenName {
        color: #999;
    }
}
