.List {
    font-size: 14px;
    height: calc(100vh - 140px);
    overflow: auto;

    &__item {
        padding: 8px 10px;
        border-bottom: 1px solid #eee;
    }

    &__name {
        font-weight: bold;    
    }

    &__screenName {
        color: #999;
    }

    &__action {
        display: inline-block;
        text-indent: -9999px;
        overflow: hidden;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &--favorite {
            background-image: url('../images/icn_favorite_01.svg');
        }

        &--retweet {
            background-image: url('../images/icn_retweet_01.svg');
        }
    }
}
