.Navigation {
    height: 100%;
    background-color: #234;

    &__item {
        height: 60px;
        text-indent: -9999px;
        overflow: hidden;

        &--home {
            background: url('../images/icn_home_01.svg') no-repeat center center;
            background-size: 32px 32px;
        }

        &--mentions {
            background: url('../images/icn_mentions_01.svg') no-repeat center center;
            background-size: 24px 24px;
        }

        &--lists {
            background: url('../images/icn_lists_01.svg') no-repeat center center;
            background-size: 30px 30px;
        }

        &--search {
            background: url('../images/icn_search_01.svg') no-repeat center center;
            background-size: 40px 40px;
        }

        path {
            fill: #eee;
        }

        a {
            display: block;
            height: 100%;
        }

        &:hover {
            background-color: lighten(#234, 5%);
        }

        &.isSelected {
            background-color: darken(#234, 5%);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset;
        }
    }
}
