/*
========================================
    margin/padding em
========================================
*/
@mixin oocssMarginPaddingEM($list...) {
    @if(existed($list...)) {
        @each $value in $list {
            $cName : 00;
            $tmp1 : floor($value);
            $tmp2 : floor($value * 10) - ($tmp1 * 10);
            @if($tmp2 > 0){
                $cName : $tmp1 + _ + $tmp2;
            } @else {
                $cName : $tmp1;
            }
            /* #{$value} em */
            .w#{$cName}em {width: $value + em;}
            .mg#{$cName}em {margin: $value + em;}
            .mt#{$cName}em {margin-top: $value + em;}
            .mr#{$cName}em {margin-right: $value + em;}
            .mb#{$cName}em {margin-bottom: $value + em;}
            .ml#{$cName}em {margin-left: $value + em;}
            .pd#{$cName}em {padding: $value + em;}
            .pt#{$cName}em {padding-top: $value + em;}
            .pr#{$cName}em {padding-right: $value + em;}
            .pb#{$cName}em {padding-bottom: $value + em;}
            .pl#{$cName}em {padding-left: $value + em;}
        }
    }
}
@include oocssMarginPaddingEM(0.3,0.5,0.8,1,1.5,2,3,5,10,13);

/*
========================================
    margin/padding px
========================================
*/
@mixin oocssMarginPaddingPX($list...) {
    @if(existed($list...)) {
        @each $value in $list {
            $cName : 00;
            $tmp1 : floor($value);
            $tmp2 : floor($value * 10) - ($tmp1 * 10);
            @if($tmp2 > 0){
                $cName : $tmp1 + _ + $tmp2;
            } @else {
                $cName : $tmp1;
            }
            /* #{$value} em */
            .w#{$cName}px {width: $value + px;}
            .mg#{$cName}px {margin: $value + px;}
            .mt#{$cName}px {margin-top: $value + px;}
            .mr#{$cName}px {margin-right: $value + px;}
            .mb#{$cName}px {margin-bottom: $value + px;}
            .ml#{$cName}px {margin-left: $value + px;}
            .pd#{$cName}px {padding: $value + px;}
            .pt#{$cName}px {padding-top: $value + px;}
            .pr#{$cName}px {padding-right: $value + px;}
            .pb#{$cName}px {padding-bottom: $value + px;}
            .pl#{$cName}px {padding-left: $value + px;}
        }
    }
}
@include oocssMarginPaddingPX(3,5,10,15,20,25,30,40,50,100,120,150);

/*
========================================
    width / height size
========================================
*/
@mixin oocssWidthEM($list...) {
    @if(existed($list...)) {
        @each $value in $list {
            .w#{$value}em {width: $value + em;}
        }
    }
}
@mixin oocssWidthPX($list...) {
    @if(existed($list...)) {
        @each $value in $list {
            .w#{$value}px {width: $value + px;}
        }
    }
}
@mixin oocssWidthPER($list...) {
    @if(existed($list...)) {
        @each $value in $list {
            .w#{$value}per {width: $value + 0%;}
        }
    }
}
@mixin oocssHeightPX($list...) {
    @if(existed($list...)) {
        @each $value in $list {
            .h#{$value}px {height: $value + px;}
        }
    }
}


@include oocssWidthEM(1,2,3,4,5,6,7,8,10,12,15,18,20,22,25,27,30,34,40,60,65,70);
@include oocssWidthPX(80,200,250,300,350,420);
@include oocssWidthPER(6,15,20,30,33,35,40,45,50,60,65,70,80,85,100);
@include oocssHeightPX(70);
