.PostForm {
    background-color: #eee;
    border-bottom: 3px solid #ccc;
    padding: 20px;

    &__actions {
        text-align: right;
    }

    &__overLength {
        color: $color-error;
    }
}
