.PostForm {
    background-color: #eee;
    border-bottom: 3px solid #ccc;
    padding: 20px;

    &__textarea {
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 5px 8px;
        width: 100%;
    }

    &__actions {
        text-align: right;
    }

    &__overLength {
        color: $color-error;
    }
}
