.User {
    height: 100%;
    padding-top: 100px;
    border-radius: 5px;

    &__whiteArea {
        background-color: #fff;
        height: 100%;
        padding: 10px;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;
    }

    &__info {
        position: relative;
        padding-left: 60px;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
    }
}
