.userCounts {
  background-color: #eee;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: -10px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset;
}
