.menu {
  background-color: #ccc;
  height: 30px;
  display: flex;
  padding: 0 5px;
}

.back {
  display: block;
  width: 26px;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url('./back_on.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
}

.forward {
  display: block;
  width: 26px;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url('./forward_on.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
}
